/* style.css */

body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to right, #f8f9fa, #e9ecef);
    margin: 0;
    padding: 0;
    background-image: url('nitc.png')no-repeat center center/cover;
  }
  
  .navbar {
    background: linear-gradient(90deg, #800000, #ff0000);
  }
  
  .navbar .btn {
    font-weight: bold;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
  }
  
  section {
    margin-top: 50px;
  }
  
  .auto-form {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .gradient-input {
    border: 2px solid #ff0000;
    background: linear-gradient(to right, #ffffff, #ffe5e5);
    transition: border-color 0.3s;
  }
  
  .gradient-input:focus {
    border-color: #cc0000;
    box-shadow: 0 0 0 0.2rem rgba(204, 0, 0, 0.25);
  }
  
  .hover-glow:hover {
    background-color: #cc0000;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
    transition: box-shadow 0.3s, background-color 0.3s;
  }
  
  footer {
    background-color: #1c1c1c;
  }
  
  .card {
    border: none;
    transition: transform 0.3s;
  }
  
  .card:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  